@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.galerie{
    box-sizing:border-box;
    padding: 10px;
    
}
.pictures{
    display:flex;
    padding:50px;
    flex-flow: column wrap;
    width: 100%;
    margin:auto;
    max-height:2000px;
}
.galerie h1{
    font-family:  Poppins;
    text-align: center;
    margin-top: 15px;
}
.pic{
    width: 33.33%;
    box-sizing:border-box;
     padding: 10px;
     cursor: pointer;
}
.pic img{
    width:100%;
    transition:1s ;

}
.pic img:hover{
    transform: scale(1.05);
}
.hero{
    width: 100%;
    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(background.png)  no-repeat;
    background-size:cover;
    background-position: center;
    height:100vh;
    background-attachment: fixed;
    padding-left: 10%;
    box-sizing:border-box;
    padding-right: 10%;
}
.hero nav{
    width:100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding:20px;
}
nav img{
    width: 100px;
}
nav ul li{
    
    display:inline-block;
    margin-left: 40px;
}
nav ul li a{
       text-decoration: none;
       color:white;
       font-size: 18px;
       font-family: 'Poppins', sans-serif;
      
}
.active{
    padding-bottom: 7px;
    border-bottom: 2px solid palevioletred;
}
span{
    color: palevioletred;
}
.btn{
    text-decoration:none;
    padding: 10px 40px;
    background-color:palevioletred;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: none;
    color:white;
    font-size:18px;
    font-weight:500;
}
.btn:hover{
    transform: scale(1.1);
    transition: scale 1.5s ease-out;

}
.customers{
    margin: 60px 0;
   padding-left: 10%;
   padding-right: 10%;
}
.customers h1{
    text-align:center;
    font-family: Poppins;
    margin-bottom: 40px;
}
.flex{
    width:100%;
    display:flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content:space-between ;
}
.row{
    flex-basis: 25%;
}
.row img{
    width: 90%;
    cursor: pointer;
    transition:scale 1s;
}
.row img:hover{
    transform: scale(1.1);
}
.content{
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    font-family: Poppins;
    color: white;
}
.content h1{
    font-size:60px;
    margin-bottom: 15px;
}
.content input{
    width: 50%;
    border-radius:30px;
    margin-bottom: 15px;
    border: none;
    outline: none;
    padding: 15px;
    font-size: 15px;
    transition: width 0.5s;
}
.content input::placeholder{
    font-weight: 500;
}
.content input:focus{
    width:80%;
}
.cathegoties{
    display: flex;
}
.cathegoties h4{
    margin-right: 5px;
}
.cathegoties a{
    font-family: Poppins;
}
.toogle img{
    width: 70px;
    height: 70px;
    cursor: pointer;
    display:none;
}
@media only screen and (max-width: 600px) {
    .pic{
       width: 100%;
    }
    .pictures{
        display: block;
        max-height: 100%;
    }
    .btn{
        text-decoration:none;
        padding: 10px 40px;
        background-color:palevioletred;
        border-radius: 15px;
        font-family: 'Poppins', sans-serif;
        border: none;
        outline: none;
        color:white;
        font-size:15px;
  
  }
  .toogle img{
      display: block;
  }
  .hero nav ul{
      top: 15%;
      text-align: center;
      width: 100%;
      margin-top: 15px;
      background-color: palevioletred;
      left: 0%;
      position: absolute;
      display:flex;
      z-index: 2;
      height: 35vh;
      flex-flow: column wrap;
  }
  .hero nav ul li{
      margin-top: 25px;
  }
  .hero nav ul li a{
      cursor: pointer;
  }
  .hero{
      padding:5%;
  }
}
.about{
    padding-left: 10%;
    padding-right: 10%;
}
.about h1{
    text-align:center;
    font-family: Poppins;
    margin-bottom: 20px;
}
.about p{
    font-size:15px;
    font-family: sans-serif;
    line-height: 1.5em;
}
.copy{
    padding-left: 10%;
    padding-right:10%;
    margin-top: 90px;
    margin-bottom: 20px;
    text-align: center;
    font-size:20px;font-family: 'Annie Use Your Telescope', cursive;
}
     